</div>

<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> <strong><h4><i class="fas fa-assistive-listening-systems"> Bancho!©</i></h4> A Swarnavo Production </strong> |
        <strong><a href="/home">Home</a> | <a href="/home/#new">New Content</a></strong> 
    </div>
    <!-- Copyright -->
  
</footer>
<!-- Footer -->

<!-- JQuery -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script>
</body>

<script type="text/javascript">

      $(".emoji").emojioneArea({
        
        pickerPosition: "bottom",
          tonesStyle: "bullet",
      });
      </script>





</html>